
@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

body{word-wrap: break-word;
font-size: 25px;font-family: "Michroma", serif;
font-weight: 600;}

.array{color: red;}
.array1{color: rgb(44, 213, 6);}
.array2{color: rgb(0, 55, 255);}
.array3{color: rgb(212, 201, 46);}
.array4{color: rgb(221, 10, 221);}
.array5{color: red;}
.array6{color: red;}
.array7{color: red;}